@import './resets.scss';
@import './variables.scss';

@mixin font-form {
  font-family: $font-form;
  color: $primary-color;
}

body {
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  @include font-form;
  font-size: 2rem;
  margin-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  @include font-form;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem;
  border: 1px solid $primary-color;
  border-radius: 0.5rem;
  width: 20rem;

}

input[type='submit']{
  background-color: $primary-color;
  color: $background-color;
  cursor: pointer;
  margin-bottom: 10px;
}

a {
  @include font-form;
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid $primary-color;
  border-radius: 0.5rem;
  width: 20rem;
  cursor: pointer;
  background-color: $primary-color;
  color: $background-color;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

